<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
<link rel="stylesheet"  href="/css/home.css" />
</head>
<body data-feedly-mini="yes">
<nav class="navbar navbar-default navbar-fixed-top" style="opacity: .9" role="navigation">
<div class="container-fluid">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle Navigation</span>
<span class="icon-only"></span>
<span class="icon-only"></span>
<span class="icon-only"></span>
</button>
<a class="navbar-brand" href="#">花花太郎</a>
</div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">
<li class="active"><a href="#">Blog</a></li>
<li><a href="https://github.com/0x00evil">Github</a></li>
<li><a href="https://twitter.com/huahuatailang">Twitter</a></li>
</ul>
</div>
</div>
</nav>

<div
{{ content }}
</body>
</html>
